<header>
    <div>
        <h1>Habit Tracker</h1>
    </div>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/weekview">Weekly View</a></li>
        </ul>
    </div>
</header>